.search-box {
  padding: 0.5rem;
  color: var(--text-primary-color);
  border-radius: 5px;
  background-color: #f1f3f4;
}

.search-box > input {
  font-size: 1.25rem;
  border: unset;
}

.search-box .close-icon {
  padding: 0.5rem;
  visibility: hidden;
  width: 1rem;
  height: 1rem;
}

.search-box .close-icon.active {
  visibility: visible;
}
