.icon-button {
  border-radius: 50%;
  padding: 0.6rem;
  color: var(--text-primary-color);
  display: inline-block;
  border: unset;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}

.icon-button > svg {
  width: 1.2rem;
  height: 1.2rem;
}

.icon-button:hover,
.icon-button.active {
  background-color: rgb(154 160 166 / 16%);
}
