html, body, #root {
  min-height:100%;
  height:100%;
  overflow-x: hidden;
}

.switch-wrapper {
  position: absolute;
  overflow:hidden;
  height:100%;
  top:0;   
  left:0;
  bottom:0; 
  right:0;
}

.switch-wrapper > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
