.navbar {
  min-width: 12rem;
  width: 12rem;
  transition: margin 0.5s ease;
  z-index: 1;
  padding: 1rem 0;
  background-color: var(--background-color);
}

@media (max-width: 550px) {
  .navbar {
    position: fixed;
    height: 100%;
    box-shadow: var(--shadow);
  }
}

.navbar.collapsed {
  margin-left: -12rem;
}

.navbar-list {
  width: inherit;
  height: 100%;
  background-color: var(--background-color);
}
